<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body class="bg-gray-100">
    <%- include('./partials/header'); %>
    <main class="flex items-center justify-center h-screen px-4 py-16">
      <div
        class="divide-y divide-gray-200 bg-white shadow-md rounded-md p-4 w-full max-w-md"
      >
        <h2 class="text-xl font-semibold mb-2">Sign Up</h2>
        <form action="/signup" method="POST">
          <div class="mb-4">
            <label for="name" class="block text-lg font-medium text-gray-700"
              >name</label
            >
            <input
              type="text"
              name="username"
              id="username"
              class="border-2 border-gray-300 rounded-md w-full p-2"
              required
            />
          </div>
          <div class="mb-4">
            <label for="email" class="block text-lg font-medium text-gray-700"
              >Email</label
            >
            <input
              type="text"
              name="email"
              id="email"
              class="border-2 border-gray-300 rounded-md w-full p-2"
              required
            />
          </div>
          <div class="mb-4">
            <label
              for="password"
              class="block text-lg font-medium text-gray-700"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="border-2 border-gray-300 rounded-md w-full p-2"
              required
            />
          </div>
          <div class="mb-4">
            <label
              for="passwordConfirm"
              class="block text-lg font-medium text-gray-700"
              >Confirm Password</label
            >
            <input
              type="password"
              name="passwordConfirm"
              id="passwordConfirm"
              class="border-2 border-gray-300 rounded-md w-full p-2"
              required
            />
          </div>
          <div class="text-right">
            <button
              type="submit"
              class="bg-blue-600 text-white rounded-md px-4 py-2"
            >
              Sign Up
            </button>
          </div>
        </form>
        <div class="mt-4 text-center">
          <p class="text-gray-700">
            Already have an account?
            <a href="/login" class="text-blue-600 hover:underline">Login</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
